VITE_SUPABASE_URL=https://tiasjnlqrxyvwztpgbbl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpYXNqbmxxcnh5dnd6dHBnYmJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MTU5NTAsImV4cCI6MjA5MzQ5MTk1MH0.UM2jKLv1y0uSFzAdUjZ6W_Uba9rL8jk0TiPvVnF-tfs